body {
  background-color: #333;
}

#header {
  position: fixed;
  background: #333;
  width: 100%;
  z-index: 10;
}

#title, #desc {
  color: #fff;
  background: #333;
  margin-left: -30px;
}

#PlayerInfo {
  position: fixed;
  margin-top: 130px;
  background: #333;
  color: #fff;
  z-index: 10;
}
#PlayerInfo p {
  width: 150px;
  font-size: 12px;
}
#PlayerInfo button {
  color: #000;
  width: 200px;
}

#Map {
  margin-top: 200px;
}
#Map td div {
  height: 20px;
  width: 20px;
}
